body {
    background-color: #B80000;
    color: #FF9800;
}

header {
    text-align: center;
}

h1 {
    font-size: 6em
}

h2 {
    font-size: 3em;

}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    font-size: 3em;
    display: flex;
    justify-content: space-evenly;
}

li {
    padding: 0.5em;
    border-radius: 4px;
    border: solid #820300 1.5px;
}

nav {
    border-radius: 8px;
    border: solid #820300 1.5px;
    margin-top: 2em;
}

.category {
    margin-top: 2em;
    margin-bottom: 2em;
    text-align: center;
}

section {
    text-align: center;
}

section .Res1152x896 img {
    height: auto;
    width: 100%;
    max-width: 1152px;
}

section .Res1152x896 {
    margin: 1em 1em 1em 1em;
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
    gap: 1em;
}

section .Res704x1408 img {
    height: auto;
    width: 100%;
    max-width: 704px;
}

section .Res704x1408 {
    margin: 1em 1em 1em 1em;
    display: inline-grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 1em;
}

.Res832x1216 {
    margin: 1em 1em 1em 1em;
    display: inline-grid;
    grid-template-columns: auto;
    gap: 1em;
}

.Res832x1216 img {
    height: auto;
    width: 100%;
    max-width: 832px;
}